<<<<<<< HEAD
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 184, 135);
}

#monedaClick {
    height: 200px;
}
#monedaClick:active {
    scale: 1.2;
}
#contador{
    font-size: 25px;
    margin: 0px 20px -10px 0px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    background-color: rgb(197, 111, 0);
    width: 200px;
    border-radius: 8px;
    margin: 10px;
    padding-left: 10px;
}

img {
    height: 20px;
}

.contenedor {
    background-color: rgb(233, 173, 96);
    display: flex; /* Cambia de grid a flex */
    gap: 10px; /* Ajusta el espacio entre los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    width: 100%;
    margin: 10px;
    border-radius: 12px;
    padding: 10px;
}

#duplicadorClick,
#legionario,
#centurion,
#tribuno,
#arquero {
    background-color: rgb(197, 111, 0);
    padding: 10px;
    border-radius: 8px;
    width: 120px;
    height: 60px;
    text-align: center;
    border: 1px solid black;
    margin: 5px; 
}
#duplicadorClick:active,
#legionario:active,
#centurion:active,
#tribuno:active,
#arquero:active{
    scale:1.2;
}
h2 {
    margin-top: -5px;
    margin-bottom: -15px;
}
.coste{
    margin-top: -15px;
    display: flex;
    flex: row;
    justify-content: center;
}
=======
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 184, 135);
}

#monedaClick {
    height: 200px;
}
#monedaClick:active {
    scale: 1.2;
}
#contador{
    font-size: 25px;
    margin: 0px 20px -10px 0px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    background-color: rgb(197, 111, 0);
    width: 200px;
    border-radius: 8px;
    margin: 10px;
    padding-left: 10px;
}

img {
    height: 20px;
}

.contenedor {
    background-color: rgb(233, 173, 96);
    display: flex; /* Cambia de grid a flex */
    gap: 10px; /* Ajusta el espacio entre los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    width: 100%;
    margin: 10px;
    border-radius: 12px;
    padding: 10px;
}

#duplicadorClick,
#legionario,
#centurion,
#tribuno,
#arquero {
    background-color: rgb(197, 111, 0);
    padding: 10px;
    border-radius: 8px;
    width: 120px;
    height: 60px;
    text-align: center;
    border: 1px solid black;
    margin: 5px; 
}
#duplicadorClick:active,
#legionario:active,
#centurion:active,
#tribuno:active,
#arquero:active{
    scale:1.2;
}
h2 {
    margin-top: -5px;
    margin-bottom: -15px;
}
.coste{
    margin-top: -15px;
    display: flex;
    flex: row;
    justify-content: center;
}
>>>>>>> 9819493fdd6e9e0910ac55305ce86c7b55dcf118
